<h1> 
All Events <% if @events.any? %> (<%= @events.count %>) <%end%>
</h1>

<% @events.each do |event| %>
  <div>
    <h3>
    Description: <%= event.description%>
    </h3>
    <p>
    Location: <%= event.location%>
    </p>
    <p>
    Date: <%= event.date %>
    </p>
  </div>
<% end %>
