@import "bootstrap-sprockets";
@import "bootstrap";

header {
  margin-bottom: 73px;
}

.input-group{
  width: 100%;
}

.btn{
  margin-top: 10px;
}

#logo{
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a {
  margin-left: 10px;
}